################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LavatoryVacancy/v15
/LavatoryVacancy/LavatoryVacancy/obj
/LavatoryVacancy/LavatoryVacancy.Android/obj
/LavatoryVacancy/LavatoryVacancy.iOS/obj
